<div class="jumbotron" style="height:100vh; background-image: url('https://wallpapershome.com/images/pages/pic_h/2028.jpg'); background-size:cover">
  <% flash.each do |type, message|%>
    <div class="alert alert-<%= type %>" role="alert">
      <%= message %>
    </div>
  <% end %>  
  <div class="inner text-right p-5 mt-5">
    <h1><strong  class="text-light">Bienvenue sur le digne héritier d'Eventbrite !</strong></h1>
    <h2 class="text-light">Tu veux des événements ? On en a plein</h2>
    <%=link_to "Voir la liste des événements", {anchor: "event-list"}, class: "btn btn-secondary py-2 my-2" %>
  </div>
</div>
<span id="event-list" class="py-5"> </span>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="h1 mb-3 font-weight-normal text-center">Tous les événements</h1>
    </div>  
    <div class="mx-auto d-flex flex-wrap justify-content-center">
      <% @events.order("created_at DESC").each do |event| %>
        <div class="card my-2 mx-4" style="width: 18rem;">
          <div class="card-header">
            Proposé par <%= event.admin.first_name %>
          </div>
          <div class="card-body">
            <h5 class="card-title">Titre : <%= event.title %></h5>
            <p><%= event.description%></p>
            <div class="d-flex align-items-center justify-content-center pt-2">
              <%= link_to "En voir plus", event, class: "btn btn-secondary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mx-auto text-center py-3">
      <%= link_to 'Créer un événement', new_event_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
