<div class="jumbotron" style="height:50vh; background-image: url(<%= rails_blob_url(@event.banner)%>);background-position: center;  background-size:cover">
  <p id="notice"><%= notice %></p>
  <% flash.each do |type, message|%>
    <div class="alert alert-<%= type %>" role="alert">
      <%= message %>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 class="mb-3"><strong>Titre :</strong>
      <%= @event.title %></h3>

    <p>
      <strong>Description :</strong>
      <%= @event.description %>
    </p>

    <p>
      <strong>Date de début :</strong>
      <%= @event.start_date.strftime("Le %d/%m/%Y à %H:%M") %>
    </p>

    <p>
      <strong>Date de fin :</strong>
      <%= @event.end_date.strftime("Le %d/%m/%Y à %H:%M") %>
    </p>

    <p>
      <strong>Prix :</strong>
      <%= @event.price %> €
    </p>

    <p>
      <strong>Emplacement :</strong>
      <%= @event.location %>
    </p>

    <p>
      <strong>Organisé par :</strong>
      <%= @event.admin.first_name %> <%= @event.admin.last_name %>
    </p>

    <%if has_permission?(@event.admin)%>
      <%= link_to "Détail et participants", event_attendances_path(@event), class: "btn btn-info" %>
    <% elsif already_subscribed?(@event) %>
      <span class="btn btn-info">Inscrit ✅</span>
    <%else%>
      <%= link_to "S'inscrire", new_event_attendance_path(@event), class: "btn btn-success" %>
    <%end%>    
    <%= link_to "Retour à l'accueil", root_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>